.main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("./images/cloud.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.booking-form{
    width: 50%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input{
    margin: 10px 10px;
    padding: 10px 5px;
    width: 50%;
}

.btn-book{
    color: black;
    background-color: white;
    padding: 10px 50px;
    outline: none;
    border: 2px solid red;
    font-size: larger;
}

.go-home{
    color: black;

}

.radio-group{
    display: flex;
}

.heading{
    font-size: 5rem;
}

span{
    font-size: x-large;
}

.go-home{
    font-size: 4rem;
}